<!-- Contact Section -->

<div id="contact" class="text-center da-view-min">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view-min-inner">
    <div class="da-5"></div>
    <div class="container">
      <div class="section-title center">
        <h2>Contact<strong> us</strong></h2>
      </div>
      <div class="da-20"></div>
      <div class="col-md-4 col-md-offset-4">
        <form>
          <div class="form-group">
            <label class="custom-label">E-mail</label>
            <input ng-model="message.email" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label class="custom-label">Message</label>
            <textarea ng-model="message.text" class="form-control" rows="3"></textarea>
          </div>
        </form>
        <div class="center">
          <i class="fa fa-check-circle circle-button" ng-click="send()"></i>
        </div>
      </div>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>

<!-- Footer -->

<div id="footer">
  <div class="container">
    <div class="text-center">
      <p class="chromatic-abberation-light">All Rights Reserved. Copyright © 2016.</p>
    </div>
  </div>
</div>
