<!DOCTYPE html>
<html lang="en" ng-app="SingleBitApplication">
<head>
  <!-- Basics -->

  <title>Single Bit</title>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Single Bit is a company that focuses on game development.">
  <meta name="keywords" content="single bit, game development, abdulali gasimov, gamedev, gamedev diary">
  <meta name="author" content="Abdulali Gasimov">

  <!-- Favicons -->

  <link rel="shortcut icon" href="img/company/LOGO_COMPACT.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/company/APPLE_TOUCH_ICON.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/company/APPLE_TOUCH_ICON_72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/company/APPLE_TOUCH_ICON_14.png">

  <!-- Stylesheets -->

  <link rel="stylesheet" type="text/css" href="../dist/css/stylesheets.min.css">

  <!-- Scripts -->

  <script type="text/javascript" src="../dist/js/scripts.min.js"></script>
</head>

<body ng-controller="MainController">

  <!-- Navigation -->

  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div style="width:205px;">
          <a class="navbar-brand" href="#" ng-hide="search" style="height: 20px; padding: 14px;">
            <div class="navbar-logo" ng-click="gotoLocation('admin/resources')">
              SinglebiT
            </div>
          </a>
          <search-pane ng-show="search" ng-model="searchText" on-submit="onSubmit(query)" load-suggestions="loadSuggestions(query)"></search-pane>
        </div>
      </div>

      <!-- Main Menu Actions -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-left">
          <span class="navbar-button navbar-nav hover-glow-orange" ng-click="toggleSearch()">
            <i ng-show="search" style="margin-right:1px;" class="fa fa-times-circle"></i><i ng-hide="search" class="fa fa-search"></i>&nbsp;&nbsp;SEARCH
          </span>
          <span class="navbar-button navbar-nav hover-glow-orange" ng-class="{active: isViewSelected('home')}" ng-click="gotoLocation('home')">HOME</span>
          <span class="navbar-button navbar-nav hover-glow-orange" ng-class="{active: isViewSelected('feed')}" ng-click="gotoLocation('feed/activity/1')">FEED</span>
          <span class="navbar-button navbar-nav hover-glow-orange" ng-class="{active: isViewSelected('projects')}" ng-click="gotoLocation('projects')">PROJECTS</span>
        </div>
        <div class="navbar-right">
          <span class="navbar-button navbar-button-space navbar-nav hover-glow-orange" ng-class="{active: isViewSelected('about')}" ng-click="gotoLocation('about')">ABOUT</span>
          <span class="navbar-button navbar-nav hover-glow-orange" style="margin-right: 0px;" ng-class="{active: isViewSelected('contact')}" ng-click="gotoLocation('contact')">CONTACT</span>
        </div>
      </div>
    </div>
  </nav>

  <!-- View Section -->

  <div id="view" class="da-100">
    <spinner name="viewSpinner" class="spinner da-100" show="true">
    </spinner>
    <div class="move-above">
      <div ng-view></div>
    </div>
  </div>
</body>
</html>
