/* Custom Fonts *********************************************/

@font-face { font-family: Logo; src: url('../fonts/avenger.ttf'); }

/* Navigation Bar *******************************************/

#menu
{
	padding: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.search-pane
{
	width:190px;
	margin-top: 13px;
	height: 24px;
	border: 1px solid #FFF;
	border-radius: 7px;
	font-size:12px;
}
.search-pane-dropdown
{
	width: 190px;
	margin-top:2px;
	border : 1px solid #CCC !important;
}
.search-pane:focus
{
	outline: none;
	border-color: #FCAC45;
}
.navbar-right
{
	margin-bottom:20px;
}
.navbar-button
{
	display: table !important;
	padding-top: 15px;
	margin-left:0px;
	color: #FFF;
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
	cursor: pointer;
	cursor: hand;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-shadow: 0 1px 0 rgba(0,255,255,0),0 -1px 0 rgba(255,0,0,0);
}
.navbar-button:hover, .navbar-button:focus, .navbar-button.active
{
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0,255,255,1),0 -1px 0 rgba(255,0,0,1);
}
#menu.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #444;
}
#menu.navbar-default
{
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu.navbar-default .navbar-nav > li > a
{
	text-transform: uppercase;
	color: #FFF;
	font-size: 12px;
	letter-spacing: 1px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	color: #FCAC45 !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#menu span.navbar-brand
{
	text-transform: uppercase;
	font-size: 22px;
	color: #FFF;
	font-weight: 900;
}
.navbar-toggle
{
	border: 0px;
	border-radius: 0px;
	margin-right: 0px !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color: transparent;
	color: #FFF;
}
.navbar-default .navbar-toggle:hover > .icon-bar
{
	background-color: transparent;
	box-shadow: 0 1px 0 rgba(0,255,255,0.4),0 -1px 0 rgba(255,0,0,0.4);
}
.navbar-default .navbar-toggle:hover > .icon-bar
{
	background-color: #FFF;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-logo{
	font-family: Logo;
	font-size: 29px;
	color: #FFF;
	margin-bottom: -50px;
}
.on
{
	background-color: #222 !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

/* Home Style ***********************************************/

#home
{
	background: url(../img/backgrounds/BACKGROUND.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}
#home p.lead
{
	color: #E3E3E3;
}
.color
{
	color: #FCAC45;
}
.down-arrow-button
{
	text-shadow: 0 1px 0 rgba(0,255,255,0.4),0 -1px 0 rgba(255,0,0,0.4);
  padding: 5px 10px;
  color: #FFF;
  border-radius: 50%;
  font-size: 24px;
  transition: all .5s;
  cursor: pointer;
  cursor: hand;
	z-index:1000;
}
.down-arrow-button:hover
{
	background: #FFF;
	color: #000;
}

/* Feed Section *********************************************/

.categories ul
{
	text-align: center;
	margin-top:10px;
	padding: 0px;
}
.categories ul li
{
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

/* Projects Section *****************************************/

.project-type
{
	font-size: 40px;
	border: 4px solid #5A5A5A;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	cursor: hand;
}
.project-type.fa-mobile
{
	font-size: 50px;
	padding: 20px 25px;
}
.project-type-selector{
	padding-left:50px !important;
	padding-right:50px !important;
}
.project-type-selector:hover > i.fa
{
	color: #ffffff;
	background: #5A5A5A;
}

/* About Section ********************************************/

#about
{
	background: url(../img/backgrounds/BACKGROUND.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

/* Contact Section ******************************************/



/* Footer ***************************************************/

#footer
{
	height: 37px;
	background-color: #222;
	color: #FFF;
	padding: 10px 0 15px 0;
}
#footer p
{
	font-size: 12px;
}

/* Profile Info *********************************************/

.profile-image
{
	width: 150px;
  height: auto;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
	cursor: pointer;
	cursor: hand;
}
.profile-image:hover
{
	width: 220px;
}
.profile-info
{
	padding-bottom: 20px;
}

/* Form Controls ********************************************/

.form-control
{
	display: block;
	border-radius: 7px;
	color: #5A5A5A;
}
.form-control:focus
{
	border-color: #5A5A5A;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: 0 0 3px #888888!important;
}
.custom-label
{
	float: none;
	font-size: 12px;
	font-weight: 400;
}
.btn-warning
{
	background: #FCAC45;
}
.btn-danger
{
	color: #fff;
	border-color: #222;
	background: #2F2F2F;
	outline: none;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger
{
	background-color: #5E5E5E !important;
	border-color: #4E4B4B !important;
}
.btn-danger:active, .btn-danger.active {
	background-color: #3F3F3F !important;
	border-color: #222 !important;
	box-shadow: none;
}
.btn-danger:focus
{
	color: #fff;
	background-color: #3F3F3F !important;
	border-color: #222 !important;
}
button.btn.tf-btn.btn-default
{
	float: right;
	background: #FCAC45;
	border: 0;
	border-radius: 7px;
	padding: 10px 40px;
	color: #FFF;
	text-transform: uppercase;
}
.btn
{
	border-radius:7px;
}
.btn:active
{
	outline: none;
}
.btn:focus,	.btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus
{
	outline: none;
}
.thumbnail
{
	border-radius: 7px;
}
.modal
{
	text-align: center;
}
.modal-dialog
{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.input-group-addon
{
	border-radius:7px;
}
.panel
{
	border-radius:7px;
}
.panel-heading
{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.note-popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu {
	min-width: 215px;
	padding:5px;
}
.dropdown-menu
{
	border: 1px solid #ccc;
	border-radius:7px;
}
.custom-caret
{
	margin-top: 8px;
}
.custom-dropdown-element
{
	cursor: pointer;
	cursor: hand;
	display: block;
	padding: 3px 20px;
	line-height: 1.42857143;
	white-space: nowrap;
	color: #222;
}
.custom-dropdown-element:hover
{
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

/* Section Title ********************************************/

.section-title.center
{
	margin-top:10px;
	padding: 10px 0;
}
.section-title hr
{
	border-color: #FCAC45;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}
.section-title h2, .section-title.center h2
{
	font-weight: 300;
}
.section-title.center .line
{
	border-top: 4px solid #FCAC45;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}
.section-title.center hr
{
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}

/* View Item ************************************************/

.upload
{
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
.view-item
{
	margin-bottom: 10px;
	margin-top: 10px;

	border-radius:7px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	-webkit-transform: perspective(500px);
	-moz-transform: perspective(500px);
	-o-transform: perspective(500px);
	-ms-transform: perspective(500px);
	transform: perspective(500px);

	-webkit-box-shadow: -1px -7px 2px -25px rgba(0,0,0,1);
	-moz-box-shadow: -1px -7px 2px -25px rgba(0,0,0,1);
	box-shadow: -1px -7px 2px -25px rgba(0,0,0,1);
}
.view-item:hover
{
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: perspective(500px) rotate(0) rotateX(12deg) rotateY(0) rotateZ(0) translate3d(0,-8px,30px);
	-moz-transform: perspective(500px) rotate(0) rotateX(12deg) rotateY(0) rotateZ(0) translate3d(0,-8px,30px);
	-o-transform: perspective(500px) rotate(0) rotateX(12deg) rotateY(0) rotateZ(0) translate3d(0,-8px,30px);
	-ms-transform: perspective(500px) rotate(0) rotateX(12deg) rotateY(0) rotateZ(0) translate3d(0,-8px,30px);
	transform: perspective(500px) rotate(0) rotateX(12deg) rotateY(0) rotateZ(0) translate3d(0,-8px,30px);
	-webkit-box-shadow: 0px 17px 13px -7px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 17px 13px -7px rgba(0,0,0,0.6);
	box-shadow: 0px 17px 13px -7px rgba(0,0,0,0.6);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.view-item .hover-bg
{
	overflow: hidden;
	position: relative;
	border-radius: 7px;
}
.view-item .hover-bg .hover-text
{
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 12% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 7px;
}
.view-item .hover-bg .hover-text > h4
{
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.view-item .hover-bg:hover .hover-text > h4
{
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	-webkit-backface-visibility:hidden;
}
.view-item .hover-bg .hover-text > i
{
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.view-item .hover-bg:hover .hover-text > i
{
	opacity: 1;
	-webkit-backface-visibility:hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.view-item .hover-bg:hover .hover-text
{
	opacity: 1;
}
.view-item i.fa
{
	height: 30px;
	width: 30px;
	font-size: 20px;
	padding-top: 3px;
	padding-left: 1px;
	color: #FFFFFF;
}
.view-item-number
{
	margin-left: -10px;
	font-family: Logo;
	font-size: 30px;
	color: #FFF;
	top: 0;
	left: 100%;
	transform: translateX(-100%);
	position: absolute;
	height: 100px;
	text-shadow: 1px 1px 1px #000;
}
.brush-fix
{
	margin-left: 11px !important;
	margin-bottom: 0px !important;
}
.article-fix
{
	margin-left: 12px !important;
	margin-bottom: -5px !important;
}
.game-fix
{
	margin-left: 11px !important;
	margin-bottom: -5px !important;
}
.podcast-fix
{
	margin-left: 11px !important;
	margin-bottom: 7px !important;
	font-size: 60px !important;
}
.blog-fix
{
	margin-bottom: -5px !important;
	margin-left: 13px !important;
	font-size: 50px !important;
}
.tutorial-fix
{
	margin-left: 10px !important;
	margin-bottom: 10px !important;
	font-size: 60px !important;
}
.music-fix
{
	margin-left: 12px !important;
	margin-bottom: 2px !important;
}
.cube-fix
{
	margin-left: 12px !important;
	margin-bottom: 2px !important;
}
.view-item span.fa
{
	color: #FFF;
	z-index:0;
	margin-left: 15px;
	margin-bottom: 3px;
	height: 60px;
	width: 60px;
	font-size: 50px;
	padding:0px;
	border:none;
	text-shadow: 1px 1px 1px #000;
}
.view-item-icon-container
{
	top: 100%;
	transform: translateY(-100%);
	position: absolute;
	width: 100px;
}

/* Social Icon Set ******************************************/

.social-icon-set > li
{
	display: inline-block;
	margin-right: 10px;
}
.social-icon-narrow, .social-icon-wide, .social-icon-narrow-white, .social-icon-wide-white
{
	height: 30px;
	width: 30px;
	border: 2px solid #FFF;
	font-size: 15px;
	border-radius: 50%;
	color: #FFF;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.social-icon-white
{
	border: 2px solid #FCAC45;
	color: #FCAC45;
}
.social-icon-narrow:hover, .social-icon-wide:hover
{
	background: #FFF;
	border-color: #FFF;
	color: #000;
}
.social-icon-narrow
{
	padding: 6px 7px;
}
.social-icon-wide
{
	padding: 6px 4px;
}
.social-icon-color-white
{
	color: #FFF;
}

/* Helpers **************************************************/

.content
{
	position: relative;
}
.vertical-middle
{
	vertical-align: middle;
}
.horizontal-divider
{
	margin-left:10px;
	margin-right:10px;
}
.pagination-link
{
	cursor: pointer;
	cursor: hand;
	width:7px;
	height:7px;
	background-color: #B4B4B4;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.pagination-link.active
{
	background-color: #5A5A5A;
}
.pagination-link:hover
{
	background-color: #FCAC45;
}
.custom-link
{
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	cursor: hand;
	font-weight: 400;
	color: #B4B4B4;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.custom-link.active
{
	font-weight: 400;
	color: #5A5A5A;
}
.custom-link:hover
{
	font-weight: 400;
	color: #5A5A5A;
}
.circle-button
{
	font-size: 30px;
	margin-left:3px;
	margin-right:3px;
	cursor: pointer;
	cursor: hand;
	color: #5A5A5A;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.circle-button:hover
{
	color: #8C8C8C;
}
.circle-button-small
{
	font-size: 20px;
	margin-left:3px;
	margin-right:3px;
	cursor: pointer;
	cursor: hand;
	color: #5A5A5A;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.circle-button-small:hover
{
	color: #8C8C8C;
}
.clearfix:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix
{
	display: inline-block;
}
* html .clearfix
{
	height: 1%;
}
.clearfix
{
	display: block;
}
.spinner
{
	background:url(../img/animated/loading.gif) no-repeat center center;
	background-size: 80px 80px;
}
.move-below
{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: translateY(-2000px);
}
.move-center
{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: translateY(0px);
}
.move-above
{
	transform: translateY(-2000px);
}
.full-width
{
	width:100%;
}
.view-tag
{
	margin-left:7px;
	margin-right:7px;
	display: inline-block;
}
.comment-label
{
  font-size: 11px;
}
.comment-body
{
	border-radius: 7px;
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	background-color: #F3F3F3;
	font-size: 14px;
}
.chromatic-abberation
{
	text-shadow: 0 1px 0 rgba(0,255,255,0.7),0 -1px 0 rgba(255,0,0,0.7);
}
.chromatic-abberation-light
{
	text-shadow: 0 1px 0 rgba(0,255,255,0.4),0 -1px 0 rgba(255,0,0,0.4);
}
.videoWrapper
{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* General **************************************************/

body, html
{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
	overflow: hidden;
}
h1
{
	text-transform: uppercase;
}
h1 strong
{
	font-weight: 900;
}
h2
{
	text-transform: uppercase;	line-height: 20px;margin: 0;
}
h3
{
	font-size: 18px; font-weight: 900;
}
h4
{
	text-transform: uppercase;
}
h5
{
	text-transform: uppercase;	font-weight: 700; line-height: 20px;
}
p
{
	font-family: 'Open Sans', sans-serif;
}
p.intro
{
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a
{
	color: #FCAC45;
}
a:hover, a:focus
{
	text-decoration: none;
	color: #FCAC45;
}
ul, ol
.modal
{
	text-align: center;
}
.modal-dialog
{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
table tr td.active
{
	background-image:none;
	background-color:#FCAC45;
}
textarea
{
	resize: vertical;
}
::selection
{
	background: #FFA700;
}
::-moz-selection
{
	background: #FFA700;
}
.nav>li>a:focus, .nav>li>a:hover
{
	text-decoration: none;
	color: #949494;
	background-color:#FFF
}
.nav-tabs>li>a:hover
{
	border-color: #eee #eee #ddd;
}
.nav-tabs>li>a
{
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	color: #CCC;
	cursor: hand;
	cursor: pointer;
	border-color: #eee #eee #ddd;
}
tr
{
	cursor:pointer;
	cursor:hand;
}
