<!-- Publish Section -->

<div class="da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view">
    <div class="da-5"></div>
    <div class="container-fluid">
      <div class="section-title center text-center">
        <h2>Publish <strong>content</strong></h2>
      </div>
      <div class="da-5"></div>
      <input id="thumbnailInput" style="width: 100%;	height: 100%;	opacity: 0;	overflow: hidden;	position: absolute;	z-index: -1;" type="file" ng-model="thumbnail" name="thumbnail" onload="onLoad" base-sixty-four-input required maxsize="2000" accept="image/*">
      <div class="spinner da-30" ng-show="loading"></div>
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10" ng-hide="loading">
        <div class="col-sm-12 row">
          <div class="col-sm-3">
            <label class="custom-label" style="margin-bottom:-5px"><p>Thumbnail:</p></label>
            <view-item ng-model="resource" ng-click="performClick('thumbnailInput')" placeholder="img/backgrounds/VIEW_ITEM_PLACEHOLDER.jpg"></view-item>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Content type:</p></label>
                <dropdown ng-model="resource.contentType" options="contentTypes" on-change="contentTypeChanged();"></dropdown>
              </div>
              <div class="form-group col-sm-6">
                <label class="custom-label"><p ng-bind="resource.contentType + ' type:'"></p></label>
                <dropdown ng-model="resource.resourceType" options="resourceTypes" on-change="resourceTypeChanged();"></dropdown>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Title:</p></label>
                <input ng-model="resource.title" type="text" class="form-control" placeholder="Make up a title">
              </div>
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Date:</p></label>
                <div class="dropdown dtp-dropdown">
                  <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown">
                    <div class="input-group">
                      <input format-date="DD.MM.YYYY" type="text" class="form-control" data-ng-model="resource.date" placeholder="Set date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="resource.date" data-datetimepicker-config="{dropdownSelector: '#dropdown', minView:'day', startView:'day'}" />
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-10">
                <label class="custom-label"><p>Tags:</p></label>
                <tags-input ng-model="resource.tags" min-length="2" display-property="text">
                  <auto-complete source="loadTagSuggestions($query)" min-length="1" load-on-focus="false" load-on-empty="false" max-results-to-show="10" ></auto-complete>
                </tags-input>
              </div>
              <div class="form-group col-sm-2">
                <label class="custom-label"><p>Number:</p></label>
                <input ng-model="resource.number" type="text" class="form-control" placeholder="Number">
              </div>
            </div>
          </div>
          <div class="col-sm-12" style="margin-top:20px;">
            <h2 ng-bind="resource.title" class="center text-center" style="padding:10px; font-weight:300;"></h2>
            <div class="da-5"></div>
            <summernote config="summernote.options" ng-model="resource.description"></summernote>
          </div>
          <div class="form-group col-sm-12">
            <div class="pull-right">
              <i class="fa fa-arrow-circle-left circle-button" ng-click="goBack()"></i>
              <i class="fa fa-check-circle circle-button" ng-click="save()"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>
